@import '../../assets/styles/custom.scss';

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

button {
    // width: 100%;
    // margin-top: 22px;
    background: theme-color("button-color");
    // border-radius: 5px;
    color: $body-bg;
    padding: 12px 37px;
    border: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}