@import '../../assets/styles/custom.scss';

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

button {
    background: theme-color("button-color");
    color: $body-bg;
    padding: 12px 37px;
    border: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}