@import '../../assets/styles/custom.scss';

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

.main-panel {
    background-color: theme-color("button-color");
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: $body-bg;
    margin: 30px 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
        margin: 20px;
        width: 333px;
    }

    .main-content {
        padding-bottom: 40px;
        
        .content {
            width: 420px;
            margin: auto;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
        }
    }
    
}

.catalog-button {
    background-color: $card-color;
    border-radius: 10px;
    height: 123px;
    margin: auto 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button {
        margin-right: 16px;
        border-radius: 5px;
    }

    span {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $text-color;
    }
}

@media screen and (min-width: 320px) {
    .main-panel {
        img {
            width: 244px;
        }

        .main-content {
            h1 {
                font-size: 22px;
                line-height: 25px;
            }
            .content {
                width: 251px;
                font-size: 14px;
            }
        }
    }

    .catalog-button {
        flex-direction: column;
    
        button {
            margin-right: 0px;
            margin-bottom: 5px;
        }
    }
}

@media screen and (min-width: 576px) {
    .main-panel {
        img {
            width:333px;
        }

        .main-content {
            h1 {
                font-size: 36px;
                line-height: 42px;
            }
            .content {
                width: 420px;
                font-size: 18px;
            }
        }
    }

    .catalog-button {
        flex-direction: row;
    
        button {
            margin-right: 16px;
        }
    } 
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    .main-panel {
        img {
            width:333px;
        }

        .main-content {
            h1 {
                font-size: 36px;
                line-height: 42px;
            }
            .content {
                width: 420px;
                font-size: 18px;
            }
        }
    }

    .catalog-button {
        flex-direction: row;
    
        button {
            margin-right: 16px;
        }
    } 
}

@media screen and (min-width: 1280px) {
    .main-panel {
        flex-direction: row-reverse;
        justify-content: space-around;  
        height: 365px; 
        
        .main-content {
            text-align: start;
        }
    }
}