@import '../../assets/styles/custom.scss';

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    height: 123px;
    background: #EDEDED;
    border-radius: 10px;
    padding: 0px 20px;

    input {
        border-radius: 5px 0px 0px 5px;
        outline: none;
        border: none;
        flex: 1;
        height: 40px;
        padding-left: 13px;
    }

    button {
        width: 174px;
        // height: 40px;
        padding: 8px;
        border-radius: 0px 5px 5px 0px;
    }
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}