@import '../../assets/styles/custom.scss';

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

.main-nav {
    padding: 0px 10px;
    min-height: 70px;
    background-color: $nav-bar-color;

    h4 {
        margin: 0px;
    }

    a {
        text-decoration: none;
        color: theme-color("button-color");
    }

    button .navbar-toggler-icon {
        background-image: url('https://www.seekpng.com/png/full/376-3766322_film-forum-menu-icon-dark-blue.png') !important;
    }

    .main-menu {
        display: flex;
        font-size: 18px;
        width: 100%;
        justify-content: flex-end;
        position: absolute;
        background-color: $nav-bar-color;
        padding-left: 22px;
        padding-bottom: 10px;
        margin-left: -22px;
        
        .main-menu a:hover, a.active {
            color: theme-color("button-color");
            font-weight: 700;
        }

        li {
            padding-bottom: 8px;
        }
    }
}

.nav-logo-text, .nav-logo-text:hover {
    color: theme-color("button-color");
}

.navbar-toggler, .navbar-toggler:hover {
    border: 0px !important;
    color: $nav-bar-color !important;
}

@media screen and (min-width: 768px) {
    .main-nav {
        .main-menu {
            position: unset;
            padding-left: 0px;
            padding-bottom: 0px;
            margin-left: 0px;
            
            a {
                margin-left: 48px;
            }

            li {
                padding-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .container-fluid {
        max-width: 975px;
    }
}

@media screen and (min-width: 1280px) {
    
}