.main-nav {
    padding: 0px 70px;
    min-height: 70px;
}

.nav-logo-text, .nav-logo-text:hover {
    color: #fff;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 220px;
    justify-content: space-between;
}

.main-menu a {
    color: #00285F;
}

.main-menu a:hover, a.active {
    font-weight: 700;
}