@import '../../assets/styles/custom.scss';

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

.main-nav {
    padding: 0px 10px;
    min-height: 70px;
    background-color: $nav-bar-color;

    a {
        text-decoration: none;
        color: theme-color("button-color");
    }

    .main-menu {
        display: flex;
        font-size: 18px;
        width: 100%;
        justify-content: flex-end;
        
        .main-menu a:hover, a.active {
            color: theme-color("button-color");
            font-weight: 700;
        }
    }
}

.nav-logo-text, .nav-logo-text:hover {
    color: theme-color("button-color");
}

.navbar-toggler, .navbar-toggler:hover {
    border: 0px !important;
    color: $nav-bar-color !important;
    // background-image: url("../../assets/images/menu/hamburguer.svg");
}

@media screen and (min-width: 768px) {
    .main-menu a {
        margin-left: 48px;
    }  
}

@media screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1280px) {
    
}