@import '../../assets/styles/custom.scss';

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

.card {
    width: 258px;
    // min-width: 258px;
    // max-width: 306px;
    background: $card-color;
    border-radius: 10px;
    margin: 15px 15px;
    border: none;
    display: flex;
    align-items: center;
    padding: 15px 20px;

    img {
        width: 220px;
        margin-bottom: 8px;
    }

    p {
        margin-top: 14px;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $text-color;
        display: flex;
        align-items: center;
    }

    button {
        width: 100%;
        margin-top: 22px;
        border-radius: 5px;
    }
}

@media screen and (min-width: 320px) {
    .card {
        width: 300px;
        margin: 15px 10px;
    }
}

@media screen and (min-width: 576px) {
    .card {
        width: 258px;
        margin: 15px 15px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 349px;
        margin: 15px 15px;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 306px;
    }
}

@media screen and (min-width: 1280px) {

}